.container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 30px;
    border-radius: 2em;
    margin-top: 4em;
}

.img {
    height: 200px;
    width: 200px;
    margin: 10px;
}